* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#html {
    margin: auto;
    padding: 20px;
    max-width: 900px;

}
a{
    font-family: verdana;
}
header{
    width: auto;
}

/*Menu desplegable*/
nav {
    max-width: 1600px;
    height: 90px;
    margin: 0px;
    background-color: black;
    font-size: 23px;
    margin-top: 0px;
    justify-content: center;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal img{
    padding: 0px
    
}

.menu-horizontal > li:hover {
    background-color: #204c9a;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: #204c9a;
}

.menu-vertical li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}


body{
    background-color: #222222;
}

h1{
    font-family: verdana;
}

.main 
{
   
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section 
{
    margin-top: 120px;
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

section h1
{
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.no-parallax 
{
  background-color: #222222;
  z-index: 999;
}

.parallax h1 
{
  width: 70%;
  font-size: 4rem;
}

.parallax::after 
{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after 
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./imagenes/sobre mi.jpg");
  background-size: cover;
}

@media screen and (min-width: 768px) 
{
  section h1 
  {
    font-size: 5rem;
  }
  
  .parallax h1 
  {
    font-size: 3rem;
  }
}